{{#section 'head'}} {{/section}}
<div class="container">

  <form action="/download/" method="post">
    <label for="magnet">Enter magnet: </label>
    <input id="magnet" type="text" name="magnet" value="magnet:?xt=urn:btih:08ada5a7a6183aae1e09d831df6748d566095a10&dn=Sintel&tr=udp%3A%2F%2Fexplodie.org%3A6969&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.empire-js.us%3A1337&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=wss%3A%2F%2Ftracker.btorrent.xyz&tr=wss%3A%2F%2Ftracker.fastcast.nz&tr=wss%3A%2F%2Ftracker.openwebtorrent.com&ws=https%3A%2F%2Fwebtorrent.io%2Ftorrents%2F&xs=https%3A%2F%2Fwebtorrent.io%2Ftorrents%2Fsintel.torrent">
    <label for="destination">Enter destination: </label>
    <input id="destination" type="text" name="destination" value="/Users/jimfilippou/Desktop">
    <input type="submit" value="OK">
  </form>

  {{progress}}

<!--  <video id="videoPlayer" controls>-->
<!--    <source src="http://localhost:3000/video" type="video/mp4">-->
<!--  </video>-->


</div>
{{#section 'footer'}}
<p>Created by </p>
{{/section}}
