<div class="container-fluid">
  <div class="row pt-5 pl-5">
    <div class="col-3">
      <h3>Torrents</h3>
    </div>
    <div class="col-3">
      <button mat-raised-button (click)="downloadTorrent()">Download new</button>
    </div>
  </div>
  <div class="row pt-3">
    <div class="video-container" #video></div>
  </div>
  <div class="row pt-3">
    <table *ngIf="torrents.length > 0" class="mat-elevation-z8 w-100">
      <thead>
      <tr>
        <th>
        Created
      </th>
        <th>
          Downloaded
        </th>
        <th>
          Actions
        </th>
      </tr>

      </thead>
      <tbody>
      <tr *ngFor="let torrent of torrents">
        <td>{{torrent.created | date}}</td>
        <td>{{torrent.downloaded}}</td>
        <td>
          <button mat-button (click)="torrent.pause()"><i class="fa fa-pause"></i></button>
          <button mat-button (click)="torrent.resume()"><i class="fa fa-play"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
