<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Set Character Set -->
    <meta charset="utf-8">

    <!-- Make It Responsive! -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Load Custom CSS -->
    <link rel="stylesheet" href="/css/core.css" media="screen" title="Electron|Express">

    <!-- Custom Handlebars Template Section (head) -->
    {{{_sections.head}}}

    <title>Electron|Express</title>
  </head>
  <body>
    {{{body}}}
  </body>
  <!-- Custom Handlebars Template Section (footer) -->
  {{{_sections.footer}}}
</html>
